In [301]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [310]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue'] - data['budget']
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1083,tt0325980,140000000,655011224,Pirates of the Caribbean: The Curse of the Bla...,Johnny Depp|Geoffrey Rush|Orlando Bloom|Keira ...,Gore Verbinski,Prepare to be blown out of the water.,"Jack Sparrow, a freewheeling 17th-century pira...",143,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films,7/9/2003,7.3,2003,515011224
22,tt2126355,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,6.1,2015,360490832
31,tt2848292,29000000,287506194,Pitch Perfect 2,Anna Kendrick|Rebel Wilson|Hailee Steinfeld|Br...,Elizabeth Banks,We're back pitches,"The Bellas are back, and they are better than ...",115,Comedy|Music,Universal Pictures|Gold Circle Films|Brownston...,5/7/2015,6.8,2015,258506194
102,tt3722070,6000000,41387687,The Lady in the Van,Maggie Smith|Alex Jennings|Frances de la Tour|...,Nicholas Hytner,A mostly true story,The true story of the relationship between Ala...,104,Comedy|Drama,BBC Films|TriStar Productions,11/13/2015,5.9,2015,35387687
1601,tt0346491,155000000,167298192,Alexander,Colin Farrell|Angelina Jolie|Val Kilmer|Jared ...,Oliver Stone,The greatest legend of all was real.,"Alexander, the King of Macedonia, leads his le...",175,War|History|Action|Adventure|Drama,France 3 CinÃ©ma|Intermedia Films|PathÃ© Renn ...,11/21/2004,5.6,2004,12298192

In [17]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [23]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [397]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data['budget']==data['budget'].max()].iloc[0]['original_title']
display(answers['1'])

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [398]:
answers['2'] = data[data['runtime']==data['runtime'].max()].iloc[0]['original_title']
display(answers['2'])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [399]:
answers['3'] = data[data['runtime']==data['runtime'].min()].iloc[0]['original_title']
display(answers['3'])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [400]:
answers['4'] = data.describe().runtime['mean']
display(answers['4'])

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [401]:
answers['5'] = data.describe().runtime['50%']
display(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [402]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data['profit']==data['profit'].max()].iloc[0]['original_title']
display(answers['6'])

'Avatar'

# 7. Какой фильм самый убыточный?

In [403]:
answers['7'] = data[data['profit']==data['profit'].min()].iloc[0]['original_title']
display(answers['7'])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [404]:
answers['8'] = len(data[data['profit']>0])
display(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [405]:
list9 = data[data['release_year']==2008].copy() 
answers['9'] = list9[list9['revenue']==list9['revenue'].max()].iloc[0]['original_title'] 
display(answers['9'])

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [318]:
list10 = data.query('2011 < release_year <=2014').copy() 
answers['10'] = list10[list10['profit']==list10['profit'].min()].iloc[0]['original_title'] 
display(answers['10'])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [145]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
sum11 = Counter()

for i in data['genres'].str.split('|'):
    for genre in i:
        sum11[genre] += 1

answers['11'] = sum11.most_common(1)[0][0]
print(answers['11'])

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [317]:
data12 = data[data['profit']>0].copy()
sum12 = Counter()

for i in data12['genres'].str.split('|'):
    for genre in i:
        sum12[genre] += 1

answers['12'] = sum12.most_common(1)[0][0]
print(answers['12'])

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [109]:
answers['13'] = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).keys()[0]
print(answers['13'])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [316]:
data14 = data[data['genres'].str.contains('Action')].copy()
answers['14'] = Counter(data14.director.str.cat(sep = '|').split('|')).most_common(1)[0][0]
display(answers['14'])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [187]:
data15 = data.query('release_year == 2012').copy() 
data15['cast'] = data15.cast.str.split('|') 
answers['15'] = data15.explode('cast').groupby('cast')['revenue'].sum().sort_values(ascending = False).index[0]
display(answers['15'])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [196]:
data16 = data[data['budget'] > data['budget'].mean()].copy() 
data16['cast'] = data16.cast.str.split('|') 
answers['16'] = data16.explode('cast').cast.value_counts().sort_values(ascending = False).index[0]
display(answers['16'])

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [201]:
data17 = data[data.cast.str.contains('Nicolas Cage')].copy() 
data17['genres'] = data17.genres.str.split('|')
answers['17'] = data17.explode('genres').genres.value_counts().sort_values(ascending = False).index[0]
display(answers['17'])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [315]:
data18 = data[data.production_companies.str.contains('Paramount Pictures')].copy() 
answers['18'] = data18[data18.profit == data18.profit.min()].iloc[0].original_title
display(answers['18'])

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [244]:
answers['19'] = data.groupby('release_year').revenue.sum().sort_values(ascending = False).index[0]
display(answers['19'])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [249]:
data20 = data.copy()
data20.production_companies = data20.production_companies.str.split('|')
data20 = data20.explode('production_companies')
data20 = data20[data20.production_companies.str.contains('Warner Bros')]
answers['20'] = data20.groupby('release_year').profit.sum().sort_values(ascending = False).index[0]
display(answers['20'])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [338]:
data21 = data.copy()
data21['month'] = data21.release_date.apply(lambda x: datetime.strptime(x, "%m/%d/%Y").month)
answers['21'] = data21.month.value_counts().sort_values(ascending = False).index[0]
display(answers['21'])

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [339]:
data22 = data.copy()
data22['month'] = data22.release_date.apply(lambda x: datetime.strptime(x, "%m/%d/%Y").month)
data22 = data22.query('5 < month < 9')
answers['22'] = len(data22)
display(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [345]:
data23 = data.copy()
data23['month'] = data23.release_date.apply(lambda x: datetime.strptime(x, "%m/%d/%Y").month)
data23 = data23.query('3 > month | month == 12')
answers['23'] = Counter(data23.director.str.cat(sep = '|').split('|')).most_common(1)[0][0]
display(answers['23'])

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [280]:
data24 = data.copy()
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
value_counts_production_companies = data24.explode('production_companies').production_companies.value_counts()
data24 = data24.groupby('production_companies').original_title.sum()
#data24['title_length'] = len(data24.original_title)
sum24 = Counter()
for i in data24.index:
    sum24[i] = len(data24[i])/value_counts_production_companies[i]
answers['24'] = sum24.most_common(1)[0][0]
display(answers['24'])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [292]:
data25 = data.copy()
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
data25 = data25.groupby('production_companies').overview.sum()
sum25 = Counter()
for i in data25.index:
    sum25[i] = len(data25[i].split())/value_counts_production_companies[i]
answers['25'] = sum25.most_common(1)[0][0]
display(answers['25'])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [393]:
vote_average99 = np.quantile(data['vote_average'], 0.99)
answers['26'] = data[data['vote_average'] > vote_average99].original_title
display(answers['26'])

from itertools import combinations
data27 = data.copy()
# Превращаем сроку со списком в массив:
data27.cast = data27.cast.str.split('|')
pairs = Counter()

for number_row in range(len(data27)):
    cast_pairs = pd.Series(combinations(data27.iloc[number_row].cast, 2))
    for pair in cast_pairs:
        pairs[pair] += 1

answers['27'] = pairs.most_common(1)
display(answers['27'])

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

from itertools import combinations
data27 = data.copy()
data27.cast = data27.cast.str.split('|')
pairs = Counter()

for number_row in range(len(data27)):
    cast_pairs = pd.Series(combinations(data27.iloc[number_row].cast, 2))
    for pair in cast_pairs:
        pairs[pair] += 1

answers['27'] = pairs.most_common(1)
display(answers['27'])

# Submission

In [295]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '6': 'Avatar',
 '8': 1478,
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '25': 'Midnight Picture Show',
 '26':         imdb_id     budget     revenue  \
 9     tt2096673  175000000   853708609
 34    tt3170832    6000000    35401758
 118   tt0816692  165000000   621752480
 119   tt2015381  170000000   773312399
 125   tt2084970   14000000   233555708
 128   tt2267998   61000000   369330363
 138   tt2278388   30000000   174600318
 370   tt1375666  160000000   825500000
 599   tt0468569  185000000  1001921825
 872   tt0253474   35000000   120072577
 1081  tt0167260   94000000  1118888979
 1183  tt0993846  100000000   392000694
 1191  tt2024544   20000000   187000000
 1800  tt0209144    9000000    39723096

                                      original_title  \
 9                                        Inside Out
 34                                             Room
 118                                    Interstellar
 119                         Guardians of the Galaxy
 125                              The Imitation Game
 128                                       Gone Girl
 138                        The Grand Budapest Hotel
 370                                       Inception
 599                                 The Dark Knight
 872                                     The Pianist
 1081  The Lord of the Rings: The Return of the King
 1183                        The Wolf of Wall Street
 1191                               12 Years a Slave
 1800                                        Memento

                                                    cast           director  \
 9     Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...        Pete Docter
 34    Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...   Lenny Abrahamson
 118   Matthew McConaughey|Jessica Chastain|Anne Hath...  Christopher Nolan
 119   Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...         James Gunn
 125   Benedict Cumberbatch|Keira Knightley|Matthew G...      Morten Tyldum
 128   Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...      David Fincher
 138   Ralph Fiennes|Tony Revolori|F. Murray Abraham|...       Wes Anderson
 370   Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...  Christopher Nolan
 599   Christian Bale|Michael Caine|Heath Ledger|Aaro...  Christopher Nolan
 872   Adrien Brody|Thomas Kretschmann|Frank Finlay|M...     Roman Polanski
 1081  Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...      Peter Jackson
 1183  Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...    Martin Scorsese
 1191  Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...      Steve McQueen
 1800  Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...  Christopher Nolan

                                                 tagline  \
 9              Meet the little voices inside your head.
 34                             Love knows no boundaries
 118   Mankind was born on Earth. It was never meant ...
 119                         All heroes start somewhere.
 125   The true enigma was the man who cracked the code.
 128         You don't know what you've got 'til it's...
 138             A perfect holiday without leaving home.
 370                Your mind is the scene of the crime.
 599                                     Why So Serious?
 872   Music was his passion. Survival was his master...
 1081                    The eye of the enemy is moving.
 1183                                EARN. SPEND. PARTY.
 1191    The extraordinary true story of Solomon Northup
 1800                  Some memories are best forgotten.

                                                overview  runtime  \
 9     Growing up can be a bumpy road, and it's no ex...       94
 34    Jack is a young boy of 5 years old who has liv...      117
 118   Interstellar chronicles the adventures of a gr...      169
 119   Light years from Earth, 26 years after being a...      121
 125   Based on the real life story of legendary cryp...      113
 128   With his wife's disappearance having become th...      145
 138   The Grand Budapest Hotel tells of a legendary ...       99
 370   Cobb, a skilled thief who commits corporate es...      148
 599   Batman raises the stakes in his war on crime. ...      152
 872   The Pianist is a film adapted from the biograp...      150
 1081  Aragorn is revealed as the heir to the ancient...      201
 1183  A New York stockbroker refuses to cooperate in...      180
 1191  In the pre-Civil War United States, Solomon No...      134
 1800  Suffering short-term memory loss after a head ...      113

                                                  genres  \
 9                               Comedy|Animation|Family
 34                                       Drama|Thriller
 118                     Adventure|Drama|Science Fiction
 119                    Action|Science Fiction|Adventure
 125                          History|Drama|Thriller|War
 128                              Mystery|Thriller|Drama
 138                                        Comedy|Drama
 370   Action|Thriller|Science Fiction|Mystery|Adventure
 599                         Drama|Action|Crime|Thriller
 872                                           Drama|War
 1081                           Adventure|Fantasy|Action
 1183                                 Crime|Drama|Comedy
 1191                                      Drama|History
 1800                                   Mystery|Thriller

                                    production_companies release_date  \
 9     Walt Disney Pictures|Pixar Animation Studios|W...     6/9/2015
 34    Element Pictures|No Trace Camping|A24|Duperele...   10/16/2015
 118   Paramount Pictures|Legendary Pictures|Warner B...    11/5/2014
 119   Marvel Studios|Moving Picture Company (MPC)|Bu...    7/30/2014
 125              Black Bear Pictures|Bristol Automotive   11/14/2014
 128   Twentieth Century Fox Film Corporation|Regency...    10/1/2014
 138   Fox Searchlight Pictures|Scott Rudin Productio...    2/26/2014
 370             Legendary Pictures|Warner Bros.|Syncopy    7/14/2010
 599   DC Comics|Legendary Pictures|Warner Bros.|Syncopy    7/16/2008
 872   Bac Films|Canal+Polska|Heritage Films|Studio B...    9/24/2002
 1081                      WingNut Films|New Line Cinema    12/1/2003
 1183  Paramount Pictures|Appian Way|EMJAG Production...   12/25/2013
 1191  Plan B Entertainment|Regency Enterprises|River...   10/18/2013
 1800  Summit Entertainment|Newmarket Capital Group|T...   10/11/2000

       vote_average  release_year      profit
 9              8.0          2015   678708609
 34             8.0          2015    29401758
 118            8.0          2014   456752480
 119            7.9          2014   603312399
 125            8.0          2014   219555708
 128            7.9          2014   308330363
 138            7.9          2014   144600318
 370            7.9          2010   665500000
 599            8.1          2008   816921825
 872            7.9          2002    85072577
 1081           7.9          2003  1024888979
 1183           7.9          2013   292000694
 1191           7.9          2013   167000000
 1800           7.9          2000    30723096  }

In [407]:
# и убедиться что ни чего не пропустил)
len(answers)

26